@import "_theme.scss";
@import "_flex.scss";
@import "_breakpoints.scss";
@import "_form.scss";
@import "_admin.scss";

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-primary;
}

ul, ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;

  &:focus {
    outline: 0 !important;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
}

h1 {
  font-size: 32px;

  @media #{$break-md} {
    font-size: 36px;
  }
}

h2 {
  font-size: 28px;

  @media #{$break-md} {
    font-size: 32px;
  }
}

h3 {
  font-size: 24px;

  @media #{$break-md} {
    font-size: 28px;
  }
}

h4 {
  font-size: 20px;

  @media #{$break-md} {
    font-size: 24px;
  }
}

h5 {
  font-size: 18px;

  @media #{$break-md} {
    font-size: 20px;
  }
}

h6 {
  font-size: 16px;
  line-height: 24px;
  
  @media #{$break-md} {
    font-size: 18px;
    line-height: 26px;

  }
}

p {
  font-size: 16px;
  line-height: 24px;
}

.box-style {
  background-color: #ffffff;
  border: 1px solid $color-lightGrey;
  border-radius: 4px;
}

.box-style--accent {
  border: 3px solid $color-main;
  border-width: 3px 0 0 0;
  background-color: $color-main-light;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.clear-both {
  clear: both;
}

.SmallShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.TextShadow {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.BigShadow {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.TextHoverTransition {
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.HoverTransition {
  transition: 0.25s;
  transition-timing-function: ease-out;
}

.btn-arrow-animation {
    svg {
      margin-left: 10px;
  }
  &:hover {
      svg {
          @extend .HoverTransition;
          transform:translateX(4px);
      }
  }
}

.btn-primary {
  padding: 15px 35px;
  background-color: $color-main;
  font-family: inherit;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border: none;
  @extend .BigShadow;
}

.btn-primary--small {
  padding: 10px 20px;
  background-color: $color-main;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border: none;
  margin-right: 0;
  @extend .SmallShadow;
}

.custom-button {
  border-radius: 0 !important;
  font-weight: bold !important;
  letter-spacing: 1px;
  &.capitalized {
    text-transform: capitalize !important;
    font-size: 18px;
    letter-spacing: 0.1px;
  }
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container-maxwidth {
  max-width: 960px;
  margin: 0 auto;

  @media #{$break-lg} {
    max-width: 1170px;
  }
}

.icon-horizontal-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.icon-vertical-flipped {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}

.card-borderbottom {
  border-bottom: 6px solid $color-main;
  border-radius: 4px 4px 0 0;
}

.only-show-mobile {
  display: block;

  @media #{$break-md} {
    display: none;
  }
}

.only-show-desktop {
  display: none;

  @media #{$break-md} {
    display: block;
  }
}

.center {
  margin: 0 auto;
}

.video__playbutton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: $color-accent;
  @extend .BigShadow;
  @extend .flex-center;
  position: absolute;
  z-index: 2;

  svg {
    font-size: 28px;
    color: white;
  }

  left:50%;
  transform: translate(-50%, -50%);
}

.no-radius {
  border-radius: 0 !important;
}

/* Styles for Pages with Aside 
   ========================================================================== */
.body__bg {
  background: $color-veryLightGrey;

  .body__container {
    @media #{$break-md} {
      padding: 40px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .body__article {
    background-color: white;

    @media #{$break-md} {
      background-color: #ffffff;
      margin-left: 16px;
      width: 100%;
      border: 1px solid $color-lightGrey;
      border-radius: 4px;
    }
  }

  .body__article--padding {
    padding: 30px 16px;

    @media #{$break-md} {
      padding: 40px 30px 30px;
    }
  }
}


/* Material Design Overrides
   ========================================================================== */

.MuiFormControl-root {
  margin: 8px 0 !important;
}

.MuiInputBase-root {
  background-color: $color-main-light !important;
}

// modals

.MuiDialog-paper {
  margin: 20px !important;
  padding: 20px !important;
  @media #{$break-md} {
    padding: 40px !important;
  }
}
.MuiDialogTitle-root {
  padding: 16px 0 0 0 !important;
}
.MuiDialogContent-root {
  padding: 16px 0 !important;
  overflow-y: unset !important;
}
.MuiDialogActions-root {
  padding: 8px 0 !important;
}


/* Modal Styles
   ========================================================================== */

.modal-close {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 1em;
  top: 1em;
  color: $color-lightGrey;
  cursor: pointer;
}