@import "../../../../styles/style.scss";


/* FWB Page
   ========================================================================== */
.fwb__form {
    padding: 0 16px 30px 16px;

    @media #{$break-md} {
        padding: 30px;
    }

    .fwb__tnc {
        float: right;
        margin-bottom: 10px;

        a {
            text-decoration: underline;
        }
    }

    .fwb__form__submit {
        @extend .flex-center;
        margin-top: 30px;
    }
}